.THIS .blue-bg {
    background: #009ADE;
}

.THIS .text-black {
    color: black;
}

.THIS .div-hours {
    padding: 0.5rem;
    background: #009ADE;
    text-decoration: none;
    color: black;
    text-align: center;
}

.THIS .mainAccordion {
    border: 1px solid black;
    background: #009ADE;
    overflow-wrap: break-word;
}

.THIS .secondAccordion {
    background: #BEC1C8;
    text-decoration: none;
    overflow-wrap: break-word;
}

.THIS .thirdAccordion {
    background: white;
}

.THIS .slds-truncate {
    white-space: normal;
}

.THIS .relative {
    position: relative;
    display: inline-block;
}