.THIS .modal {
    background: #009ADE;
    position: fixed !important;
    top: 30%;
    z-index: 99;
    color: black;
    padding: 1.5rem;
}

/* cover for the modal effect */
.THIS .cover {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: 50;
}